google-vizier  # Always compatible with most up-to-date version.
https://github.com/google-research/t5x/archive/master.zip  # Always compatible with most up to date version.
seqio  # Always compatible with most up-to-date version.

# Autodiff and numerical packages.
numpy>=1.21.5
tensorflow>=2.9.1
jax  # Use latest version for t5x.
jaxlib  # Use latest version for t5x.
flax  # Use latest version for t5x.

# Standard packages.
typing  # Version dependent on Python version.
pytest  # Use the latest version to match github workflow.
absl-py>=1.0.0

# Tidy
ml-collections==0.1.1

# Proto
protobuf>=3.6,<4.0

